* {
    font-family: 'Montserrat', sans-serif;
    color: {{ColorTextHeader}};
    font-size: {{FontSizeHeader}}px;
    overflow: hidden;
}

.main-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin: 1%;
}

.chat-container{
    border: 2px solid {{ColorBorder}};
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 5px 0px;
    width: {{width}}px;
    transform: translate(0, 0);
}

@keyframes showAndHide {
    from {
        transform: translate(-1000px, 0px);
    }
    to {
        transform: translate(0px, 0);
    }
}

.chat-container div{
    padding: 8px 20px;
    padding-left: 15px;
}

#name-container{
    background-color: {{ColorHeader}};
    word-wrap: break-word;
    font-weight: {{FontWeightHeader}};
    display: flex;
}

#name-container img{
    width: {{SizeImage}}px;
    margin-right: 5px;
}

#emote{
    width: {{SizeEmote}}px;
    margin-right: 5px;
}

#message-container{
    background-color: {{ColorBody}};
    color: {{ColorTextBody}};
    word-wrap: break-word;
    font-weight: {{FontWeightBody}};
    font-size: {{FontSizeBody}}px;
}